    .background {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #4e91da
    }

    .container {
        max-height: 500;
        max-width: 80%
    }

    .borda {
        background-color: #fff;
        border-color: #4e91da;
        border-radius: 40px 40px;
        padding-top: 60px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 60px;
    }

    .titulo{
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex 
    }
