body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
    monospace;
}

.error {
  color:red;
  border: solid;   
  border-radius: 40px 40px;
  text-align: center;
}

.background {
  background-color: #4e91da; 
  overflow: auto
}

.estilo_form_padrao {
  width: 600px;
  height:450px;
  align-items: center;
  border: solid;   
  background-color:#fff;
  border-color: #4e91da;
  border-radius: 40px 40px;
  padding-top: 100px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 450px;
  margin-bottom: 5%
}

.estilo_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh
}

.textField {
  color: #fff,
}

.titulo {
  padding-bottom: 45px 
} 

.botaoPadrao{
  color: "white";
  background-color: "#4e91da"    
}
